.login-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/public/dark-background-images-5561-5821-hd-wallpapers.jpg');
    background-size: cover;
}

.login-wrap .login-box {
    background-color: #2e2f3a;
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.login-wrap .input-username {
    width: 100%;
}

.login-wrap .input-password {
    width: 100%;
}